@font-face {
    font-family: font1;
    src: url('res/earwig factory rg.ttf');
}

@font-face {
    font-family: font2;
    src: url('res/1980 portable.otf');
}

@font-face {
    font-family: font3;
    src: url('res/ennobled pet.ttf');
}

.normal-font {
    font-family: Arial, Helvetica, sans-serif
}


/* #main_input {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
} */

#main_write {
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: justify;
}

#openHelpButton {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

#specialFontInput {
    font-family: font1;
}